#layout {
    background-color: aqua;

    display: grid;
    grid-template-columns: 1fr 1fr;

    // both layout1 and layout 2
    div {
        height: 100vh;
        overflow: scroll;
    }

    .layout1 {
        background-color: olive;
    }

    .layout2 {
        background-color: tomato;
    }
}